.top-cart {
  background-image: url("./img/bg_top_cart.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-bottom: 64px;

  .hero__title-cart {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    margin-top: 127px;
  }
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;

  .cart__left {
    grid-column: 1 / 9;
    margin-right: 33px;

  .cart__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 27px;
  }

  }

  &__right {
    grid-column: 9 / 13;
    width: 100%;
    height: 556px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F7F6F6;

    .cart__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .cart__form-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 42px;
      }

      .cart__form-input {
        all: unset;
        display: flex;
        width: 100%;
        max-width: 290px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 62px;
        border-bottom: 1px solid #CACDD8;

      }

      .cart__form-input::placeholder {
        color: #000;
        text-align: start;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .cart__form-total {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 64px;
      }

      .cart__form-button {
        width: 100%;
        max-width: 290px;
        height: 41px;
        margin-top: 18px;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 20px;
        border: 1px solid #040404;
        background: #F7F6F6;
      }

    }

  }

}


.cart__header {
  max-width: 1440px;
  margin-bottom: 14px;
}

.cart__item {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 31px;
  border-top: 1px solid #CACDD8;
  padding-top: 25px;
  margin-bottom: 32px;
}

.cart__item-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  flex: 1;
}

.cart__item-title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart__item-description {
  max-width: 276px;
  color: #888;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 14px;
}

.cart__item-price {
  color: #050505;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
}

.cart__item-actions {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 210%;
  text-decoration-skip-ink: none;
  margin-top: 15px;
}

.cart__item-favorite {
  color: #000;
}

.cart__item-remove {
  color: #000;
}

.cart__button {
  margin-top: 18px;
  display: inline-flex;
  padding: 10px 34px 10px 33px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #000;
  background: transparent;
}

.cart__item-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 71px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #F7F6F6;
  padding: 5px;
}

.item-quantity {
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  background: transparent;
  font-size: 18px;
  color: #000;
  outline: none;
  -moz-appearance: textfield;
}

.item-quantity::-webkit-inner-spin-button,
.item-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart__item-quantity button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  width: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__item-quantity button:hover {
  color: #000;
}
