@use 'vars' as *;

.filter-wrapper {
  position: relative;
  display: inline-block;

  &:focus-within .form {
    display: inline-flex;
  }
}

.form {
  display: inline-flex;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 40px 48px;
  gap: 10px;
  font-family: $font-family;
  background: #FFF;
  box-shadow: 0 4px 67px -12px rgba(0, 0, 0, 0.32);

  &__box {
    display: flex;
    flex-direction: column;
    gap: 36px;
    min-width: 446px;

    &-up-section {
      display: flex;
      flex-direction: row;
      gap: 65px;
    }

    &-down-section {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__section {
    margin-bottom: 20px;

    &-left {
      max-width: 190px;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &-right {
      min-width: 190px;
    }
  }

  &__label {
    display: flex;
    font-size: 16px;
    color: #050505;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__radio-group,
  &__checkbox-group,
  &__color-group {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__radio-group-input {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__range {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-input {
      width: 100%;
      appearance: none;
      height: 2px;
      background: black;
      border-radius: 5px;
      outline: none;
      transition: background 0.3s;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 10px;
        height: 10px;
        background: black;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    &-label {
      display: flex;
      justify-content: space-between;
      color: #000;
      font-size: 14px;
      font-weight: 400;
      gap: 14px;
    }
  }
}

.radio {
  display: flex;
  align-items: center;
  gap: 14px;

  &__input {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #888888;
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: transparent;
      border: 1px solid #000000;

      &::before {
        content: '✔';
        font-size: 10px;
        color: #333;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__text {
    font-size: 14px;
    color: #000;
    font-weight: 400;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;

  &__input {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #888888;
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: transparent;
      border: 1px solid #000000;

      &::before {
        content: '✔';
        font-size: 10px;
        color: #333;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__text {
    font-size: 14px;
    color: #333;
  }
}

.color {
  display: inline-block;
  cursor: pointer;
  position: relative;

  &__input {
    display: none;
  }

  &__swatch {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    transition: all 0.3s;
    position: relative;
  }

  &__input:checked + &__swatch {
    border: 1px solid #000000;
    background: #FFF;

    &::after {
      content: '✔';
      font-size: 10px;
      color: white;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      mix-blend-mode: difference;
    }
  }
}

.color__box-first, .color__box-second {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.button-box {
  display: flex;
  width: 190px;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #040404;
}

.form__submit {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;
  padding: 10px 76px;
}

.form__toggle {
  display: none;
}

.sort__filter--triage {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
}
