@media (max-width: 767px) {

  .center {
    padding: 0 16px;
  }

  .header {
    padding-top: 32px;
    border-bottom: none;

    &__search, &__nav {
      display: none;
    }

    &__logo {
      width: 99px;
    }

    &__mob {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }

  .hero {
    align-items: center;
    margin-top: 0;

    &__title {
      text-align: center;
      font-size: 48px;

      &-catalog {
        width: 100%;
        padding-top: 82px;
      }
    }

    &__subtitle {
      font-size: 16px;
      line-height: 32px;
    }

    &__link {
      font-size: 14px;
    }
  }

  .heading {
    font-size: 24px;
    margin-top: 32px;
  }

  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    &__item {
      font-size: 28px;
      grid-column: 1 / -1;
      height: 375px;

      &-big {
        height: 244px;
      }
    }
  }

  .offers {
    margin-top: 0;

    &__title {
      font-size: 24px;
      font-style: normal;
      line-height: normal;
      margin-top: 32px;
    }
  }


  .offer {

    &__name {
      font-size: 18px;
      font-style: normal;
      line-height: normal;
    }

    &__price {
      font-size: 18px;
    }
  }

  .catalog {
    margin-top: 0;

    &__title {
      font-size: 24px;
      font-style: normal;
      line-height: normal;
      margin-top: 32px;
    }

    &__name {
      font-size: 18px;
    }

    &__price {
      font-size: 18px;
    }
  }

  .link-box {
    margin-bottom: 32px;
  }

  .footer {
    height: 100%;

    .center {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
    }

    &__subscribe {
      grid-column: span 2;
      align-items: center;
      padding-bottom: 33px;
    }

    &__contacts {
      align-items: center;
    }
  }


  .hero__title-catalog {
    font-size: 48px;
    text-align: center;
  }

  .catalog__menu {
    flex-direction: column;
  }

  .form__tablet {
    display: none;
  }


  .sort {
    flex-direction: column-reverse;
    padding-top: 14px;


    &__filter {


      &--popularity {
        width: 203px;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        height: 41px;
        padding-left: 19px;
      }

      &--triage {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-left: 19px;
        width: 164px;
        height: 41px;
      }
    }

  }

  .path {
    padding-top: 32px;

    &__title {
      font-size: 14px;
    }
  }

  .form {
    display: inline-flex;
    left: 0;
    right: auto;
    gap: 32px;

    &__box {
      display: flex;
      flex-direction: column;
      min-width: 191px;
      max-height: 830px;
      gap: 32px;

      &-up-section {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }


    }
  }

}