@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }

  .for__item {
    height: 268px;
  }

  .offers__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    column-gap: 29px;
    width: 100%;
  }

  .footer__logo {
    display: none;
  }

}


