@use 'vars' as *;

/* Общие стили */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-optical-sizing: auto;
    font-style: normal;
}

input, button, textarea, select, optgroup {
    font-family: inherit;
}

.footer__logo--margin-top,
.footer__menu--margin-top,
.footer__contacts--margin-top,
.footer__subscribe--margin-top {
    margin-top: $spacing-large;
}

.center {
    margin: 0 auto;
    max-width: $max-width;
    padding: 0 $spacing-small;
}

.top {
    background-image: url("./img/background_header.jpeg");
    background-position: center;
    height: 735px;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-catalog {
    background-image: url("./img/bgr_catalog.jpg");
    background-position: center;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    padding: $spacing-medium 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-text;

    &__mob {
        display: none;
    }
}

.header__nav-list {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    gap: $spacing-large;
}

.header__logo {
    width: 198px;
    height: $header-height;
}

.header__search {
    height: 41px;
    width: 288px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid $color-text;
    color: $color-text;
    font-size: $font-size-base;
    padding-left: $spacing-large;
    outline: none;
}

.header__search::placeholder {
    word-wrap: break-word;
    font-size: $font-size-base;
    font-weight: 400;
    line-height: 20px;
    color: $color-text;
    width: 53px;
    height: 16px;
}

.header__link {
    text-decoration: none;
    color: $color-text;
    font-size: $font-size-base;
    line-height: 20px;

    &:hover {
        text-decoration: underline;
    }
}

.hero {
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    gap: $spacing-medium;
}

.hero__title {
    color: $color-text;
    width: 100%;
    word-wrap: break-word;
    font-size: $font-size-xxlarge;
    padding-top: 30px;
    font-weight: 600;
    line-height: 70px;

    &-catalog {
        padding-top: 94px;
        color: $color-text;
        word-wrap: break-word;
        font-size: $spacing-xlarge;
        font-weight: 600;
        line-height: 70px;
        width: 792px;
    }
}

.hero__subtitle {
    color: $color-text;
    font-size: $font-size-large;
    font-weight: 400;
    line-height: 32px;
}

.hero__link {
    color: $color-text;
    font-weight: 400;
    font-size: $font-size-base;
    line-height: 24px;
}


.heading {
    margin-top: $spacing-xlarge;
    font-size: $font-size-xlarge;
    font-weight: 600;
    line-height: normal;
}

.for {
    margin-top: $spacing-large;
    display: grid;
    gap: $spacing-large;
    grid-template-columns: repeat(12, 1fr);
}

.for__item {
    height: 415px;
    grid-column: span 4;
    color: $color-text;
    text-align: center;
    align-content: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &-big {
        grid-column: span 6;
    }

    &-1 {
        background-image: url("./img/for1.jpg");
    }

    &-2 {
        background-image: url("./img/for2.jpg");
    }

    &-3 {
        background-image: url("./img/for3.jpg");
    }

    &-4 {
        background-image: url("./img/for4.jpg");
    }

    &-5 {
        background-image: url("./img/for5.jpg");
    }
}

.offers {
    width: 100%;
    margin-top: $spacing-xlarge;

    &__title {
        color: $color-primary;
        font-weight: 600;
        font-size: $font-size-xlarge;
        margin-top: $spacing-xlarge;
        line-height: 59px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
        flex-wrap: wrap;
        column-gap: $spacing-large;
        width: 100%;
        justify-content: space-between;
    }
}

.offer {
    display: flex;
    flex-direction: column;
    margin-top: $spacing-large;

    &__image {
        padding-bottom: 10px;
    }

    &__name {
        font-size: $font-size-large;
        font-weight: 500;
        padding-bottom: 9px;
        line-height: 29px;
    }

    &__description {
        font-size: 14px;
        font-weight: 400;
        color: $color-secondary;
        padding-bottom: 13px;
        line-height: 17px;
    }

    &__price-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: $spacing-large;
    }

    &__price {
        font-size: $font-size-large;
        font-weight: 500;
        color: $color-primary;
        line-height: 29px;

        &--old {
            color: $color-secondary;
            text-decoration: line-through;
        }
    }
}

.catalog {
    margin-top: $spacing-xlarge;

    &__menu {
        display: flex;
        justify-content: space-between;
    }

    &__products {
        display: grid;
        gap: $spacing-large;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 41px;
    }

    &__list-first,
    &__list-second {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
        justify-content: space-between;
    }

    &__item {
        width: 378px;
        margin-bottom: 56px;
    }

    &__title {
        font-size: $font-size-xlarge;
        font-weight: 600;
        line-height: 59px;
    }

    &__name {
        font-size: $font-size-large;
        font-weight: 500;
        padding-top: 10px;
        padding-bottom: 9px;
        line-height: 29px;
    }

    &__description {
        font-size: 14px;
        font-weight: 400;
        color: $color-secondary;
        padding-bottom: 13px;
        line-height: 17px;
    }

    &__price {
        font-size: $font-size-large;
        color: $color-primary;
        font-weight: 500;
        line-height: 29px;
    }
}

.path {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: $color-primary;
    font-size: $font-size-base;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.sort {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;

    &__filter {
        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid $color-border;
        text-align: center;
        background-image: url("./img/arrow.svg");
        background-repeat: no-repeat;
        background-position: right 22px center;
        appearance: none;
        padding-left: 23px;
        padding-right: 54px;

        &--triage {
            cursor: pointer;
            color: $color-primary;
            font-size: $font-size-base;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            width: 182px;
            height: 40px;
            padding-left: 23px;
        }

        &--popularity {
            color: $color-primary;
            font-size: $font-size-base;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 227px;
            height: 40px;
            padding-left: 23px;
        }
    }
}

.link-box {
    flex-shrink: 0;
    color: $color-primary;
    font-family: $font-family;
    font-size: $font-size-base;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    margin-top: 39px;
    margin-bottom: $spacing-xlarge;

    &__link {
        color: $color-primary;
        text-decoration: underline;
    }

    &__link:hover {
        color: #888888;
        text-decoration: none;
    }
}

.footer {
    background-color: $color-background;
    height: $footer-height;

    .center {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo-pic {
        color: $color-primary;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 12px;

        &-title {
            color: $color-primary;
            font-size: $font-size-large;
            font-weight: 500;
            line-height: 29px;
        }

        &-list {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        &-link {
            text-decoration: none;
            color: $color-secondary;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 12px;

        &-title {
            color: $color-primary;
            font-size: $font-size-large;
            font-weight: 500;
            line-height: 29px;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        &-phone,
        &-email {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: $color-secondary;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &-social {
            display: flex;
            flex-direction: row;
            justify-content: start;
            gap: 20px;
            width: 100%;
        }

    }


    &__subscribe {
        display: flex;
        flex-direction: column;

        &-title {
            color: $color-primary;
            font-size: 12px;
            font-weight: 400;
            padding-bottom: $spacing-small;
            line-height: 15px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: $spacing-small;
    }

    &__button {
        background: rgba(222, 215, 215, 0.41);
        border: 1px solid $color-background-footer-button;
        box-sizing: border-box;
        border-radius: 20px;
        width: 260px;
        height: 40px;
        line-height: 15px;
        font-size: 12px;
        font-weight: 400;
    }

    &__input {
        background: #FFF;
        border: 1px solid $color-background-footer-input;
        color: $color-border;
        box-sizing: border-box;
        border-radius: 20px;
        width: 260px;
        height: 40px;
        line-height: 15px;
        font-size: 12px;
        font-weight: 400;
        padding-left: 17px;
        outline: none;
    }

    &__input::placeholder {
        color: $color-border;
    }
}

.icon:hover path{
    fill: black;
}

.footer__button:hover {
    background-color: black ;
    color: white;
}

@import 'cart';
@import 'catalog';
@import 'tablet';
@import 'mobile';