@charset "UTF-8";
.top-cart {
  background-image: url("./img/bg_top_cart.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-bottom: 64px;
}
.top-cart .hero__title-cart {
  color: #FFFFFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  margin-top: 127px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}
.cart__left {
  grid-column: 1/9;
  margin-right: 33px;
}
.cart__left .cart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 27px;
}
.cart__right {
  grid-column: 9/13;
  width: 100%;
  height: 556px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #F7F6F6;
}
.cart__right .cart__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.cart__right .cart__form-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 42px;
}
.cart__right .cart__form-input {
  all: unset;
  display: flex;
  width: 100%;
  max-width: 290px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 55px;
  border-bottom: 1px solid #CACDD8;
}
.cart__right .cart__form-input::placeholder {
  color: #050505;
  text-align: start;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__right .cart__form-total {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 64px;
  gap: 10px;
}
.cart__right .cart__form-total-amount {
  font-weight: 500;
}
.cart__right .cart__form-button {
  width: 100%;
  max-width: 290px;
  height: 41px;
  margin-top: 18px;
  color: #050505;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 20px;
  border: 1px solid #040404;
  background: #F7F6F6;
}

.cart__header {
  max-width: 1440px;
  margin-bottom: 14px;
}

.cart__item {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 31px;
  border-top: 1px solid #CACDD8;
  padding-top: 25px;
  margin-bottom: 32px;
}
.cart__item-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  flex: 1;
}
.cart__item-title {
  color: #050505;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__item-description {
  max-width: 276px;
  color: #888888;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 14px;
}
.cart__item-price {
  color: #050505;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
}
.cart__item-actions {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 210%;
  text-decoration-skip-ink: none;
  margin-top: 15px;
}
.cart__item-favorite, .cart__item-remove {
  color: #050505;
}
.cart__item-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 71px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #F7F6F6;
  padding: 5px;
}
.cart__item-quantity button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  width: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__item-quantity button:hover {
  color: #050505;
}

.item-quantity {
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  background: transparent;
  font-size: 18px;
  color: #050505;
  outline: none;
  -moz-appearance: textfield;
}
.item-quantity::-webkit-inner-spin-button, .item-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart__button {
  margin-top: 18px;
  display: inline-flex;
  padding: 10px 34px 10px 33px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #050505;
  background: transparent;
}

.form {
  display: inline-flex;
  padding: 40px 48px;
  gap: 10px;
  font-family: "Montserrat", serif;
  background: #FFF;
  box-shadow: 0 4px 67px -12px rgba(0, 0, 0, 0.32);
}
.form__color-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.form__label {
  display: flex;
  font-size: 16px;
  color: #050505;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form__range {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__range-input {
  width: 100%;
  appearance: none;
  height: 2px;
  background: black;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}
.form__range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}
.form__range-label {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 14px;
}
.form__box {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.form__box-up-section {
  display: flex;
  flex-direction: row;
  gap: 65px;
}
.form__section {
  margin-bottom: 20px;
}
.form__section-left {
  max-width: 190px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.form__radio-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__radio-group-input {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.form__checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 14px;
}
.radio__input {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #333;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.radio__input:checked::before {
  content: "✔";
  font-size: 10px;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radio__input:checked {
  background-color: transparent;
}
.radio__text {
  font-size: 14px;
  color: #000;
  font-weight: 400;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}
.checkbox__input {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.checkbox__input:checked {
  background-color: transparent;
}
.checkbox__text {
  font-size: 14px;
  color: #333;
}
.checkbox__input:checked::before {
  content: "✔";
  font-size: 10px;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.color__input {
  display: none;
}

.color__swatch {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid transparent;
  transition: all 0.3s;
  position: relative;
}

.color__input:checked + .color__swatch {
  border: 1px solid #000000;
  background: #FFF;
}

.color__input:checked + .color__swatch::after {
  content: "✔";
  font-size: 10px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color__box-first, .color__box-second {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

/* Общие стили */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input, button, textarea, select, optgroup {
  font-family: inherit;
}

.footer__logo--margin-top,
.footer__menu--margin-top,
.footer__contacts--margin-top,
.footer__subscribe--margin-top {
  margin-top: 32px;
}

.center {
  margin: 0 auto;
  max-width: 1222px;
  padding: 0 8px;
}

.top {
  background-image: url("./img/background_header.jpeg");
  background-position: center;
  height: 735px;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-catalog {
  background-image: url("./img/bgr_catalog.jpg");
  background-position: center;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
}

.header__nav-list {
  display: flex;
  list-style-type: none;
  align-items: flex-start;
  gap: 32px;
}

.header__logo {
  width: 198px;
  height: 44px;
}

.header__search {
  height: 41px;
  width: 288px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 16px;
  padding-left: 32px;
  outline: none;
}

.header__search::placeholder {
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  width: 53px;
  height: 16px;
}

.header__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}
.header__link:hover {
  text-decoration: underline;
}

.hero {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero__title {
  color: #FFFFFF;
  word-wrap: break-word;
  font-size: 64px;
  padding-top: 30px;
  font-weight: 600;
  line-height: 70px;
  width: 792px;
}
.hero__title-catalog {
  padding-top: 94px;
  color: #FFFFFF;
  word-wrap: break-word;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  width: 792px;
}

.hero__subtitle {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.hero__link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.heading {
  margin-top: 64px;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
}

.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  height: 415px;
  grid-column: span 4;
  color: #FFFFFF;
  text-align: center;
  align-content: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.for__item-big {
  grid-column: span 6;
}
.for__item-1 {
  background-image: url("./img/for1.jpg");
}
.for__item-2 {
  background-image: url("./img/for2.jpg");
}
.for__item-3 {
  background-image: url("./img/for3.jpg");
}
.for__item-4 {
  background-image: url("./img/for4.jpg");
}
.for__item-5 {
  background-image: url("./img/for5.jpg");
}

.offers {
  width: 100%;
  margin-top: 64px;
}
.offers__title {
  color: #050505;
  font-weight: 600;
  font-size: 48px;
  margin-top: 64px;
  line-height: 59px;
}
.offers__list {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.offer {
  width: 378px;
  display: flex;
  flex-direction: column;
}
.offer__image {
  padding-bottom: 10px;
}
.offer__name {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 9px;
  line-height: 29px;
}
.offer__description {
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  padding-bottom: 13px;
  line-height: 17px;
}
.offer__price-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 32px;
}
.offer__price {
  font-size: 24px;
  font-weight: 500;
  color: #050505;
  line-height: 29px;
}
.offer__price--old {
  color: #888888;
  text-decoration: line-through;
}

.catalog {
  margin-top: 64px;
}
.catalog__menu {
  display: flex;
  justify-content: space-between;
}
.catalog__products {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 41px;
}
.catalog__list-first, .catalog__list-second {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog__list-first {
  margin-bottom: 56px;
}
.catalog__item {
  width: 378px;
}
.catalog__title {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 32px;
  line-height: 59px;
}
.catalog__name {
  font-size: 24px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 9px;
  line-height: 29px;
}
.catalog__description {
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  padding-bottom: 13px;
  line-height: 17px;
}
.catalog__price {
  font-size: 24px;
  color: #050505;
  font-weight: 500;
  line-height: 29px;
}

.path {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #050505;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.sort {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
}
.sort__filter {
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #CACDD8;
  text-align: center;
  background-image: url("./img/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
  appearance: none;
  padding-left: 23px;
  padding-right: 54px;
}
.sort__filter--triage {
  color: #050505;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 182px;
  height: 40px;
  padding-left: 23px;
}
.sort__filter--popularity {
  color: #050505;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 227px;
  height: 40px;
  padding-left: 23px;
}

.link-box {
  flex-shrink: 0;
  color: #050505;
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin-top: 39px;
  margin-bottom: 64px;
}
.link-box__link {
  color: #050505;
}

.footer {
  background-color: #F7F6F6;
  height: 207px;
}
.footer .center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__logo-pic {
  color: #050505;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 12px;
}
.footer__menu-title {
  color: #050505;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.footer__menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__menu-link {
  text-decoration: none;
  color: #888888;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.footer__menu-link:hover {
  text-decoration: underline;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 12px;
}
.footer__contacts-title {
  color: #050505;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.footer__contacts-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__contacts-phone, .footer__contacts-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}
.footer__contacts-phone:hover, .footer__contacts-email:hover {
  text-decoration: underline;
}
.footer__contacts-social {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  width: 100%;
}
.footer__subscribe {
  display: flex;
  flex-direction: column;
}
.footer__subscribe-title {
  color: #050505;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 8px;
  line-height: 15px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid rgba(222, 215, 215, 0.41);
  box-sizing: border-box;
  border-radius: 20px;
  width: 260px;
  height: 40px;
  line-height: 15px;
  font-size: 12px;
  font-weight: 400;
}
.footer__input {
  background: #FFF;
  border: 1px solid #C4C4C4;
  color: #CACDD8;
  box-sizing: border-box;
  border-radius: 20px;
  width: 260px;
  height: 40px;
  line-height: 15px;
  font-size: 12px;
  font-weight: 400;
  padding-left: 17px;
  outline: none;
}
.footer__input::placeholder {
  color: #CACDD8;
}

/*# sourceMappingURL=style.css.map */
